@import './variables.css';

:root {
    /* Colors */
    --primary: #111010;
    --primary-dark: #363636;
    --secondary: #C62828;
    --light-bg: ##F9FAFB;
    --alternate-bg: ##F1F8FF;
    --white: #ffffff;
    --text: #0e0e0e;
    --border: #dddddd;
    --success: #16a085;
    
    /* Typography */
    --font-family: 'Inter', sans-serif;
    --heading-1: 2.5rem;
    --heading-2: 2rem;
    --heading-3: 1.5rem;
    --text-normal: 1rem;
    --text-large: 1.25rem;
    
    /* Spacing */
    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 1.5rem;
    --space-lg: 2rem;
    --space-xl: 3rem;
    --space-xxl: 4rem;
    
    /* Other */
    --border-radius: 8px;
    --shadow-sm: 0 2px 10px rgba(0,0,0,0.1);
    --shadow-md: 0 4px 6px rgba(0,0,0,0.1);
    --shadow-lg: 0 10px 20px rgba(0,0,0,0.1);
    --transition: 0.3s ease;
    --container-width: 1200px;
  }

  p {
  font-size: 1.3rem;
  font-family: var(--font-family);
  color: var(--text);
  line-height: 1.6;
  margin-bottom: var(--space-sm);
}
  