@import '../../styles/variables.css';


.form-group {
  margin-bottom: var(--space-sm);
}

.form-group label {
  display: block;
  margin-bottom: var(--space-xs);
}

.form-group input,
.form-group textarea {
  font-size: var(--text-normal);
  width: 100%;
  padding: 0.75rem;
  border-radius: 4px;
  border: 1px solid var(--border);
}